body{
    text-align: center;
    background-color: whitesmoke;
}
.container{
    margin: 50px;
}
.heading{
    padding-top:20px;
    font-size: 22px;
}
p{
    font-weight: 100;
    margin: 0;
}

.card{
    width: 18rem;
    display: inline-block;
    border: 1px solid rgba(96, 94, 94, 0.436);
    text-align: left;
    margin-bottom: 15px;
}
.img{
    float: right;
    padding-bottom: 10px;
}
#supervisor{
    border-top: 3px solid rgb(31, 219, 203);
}
#team{
    border-top: 3px solid red;
}
#karma{
    border-top: 3px solid rgb(255, 157, 0);
}
#calculator{
    border-top: 3px solid rgb(77, 5, 184);
}
@media screen and (min-width: 1100px) {
    .card{
        margin-bottom: 0;
    }
    .col1{
        text-align: right;
    }
    .col3{
        text-align: left;
    }
    #supervisor{
        margin-top: 100px;
    }
    #team{
        margin-bottom: 15px;
    }
    #calculator{
        margin-top: 100px;
    }

}